.linkButtonContainer {
  background-color: buttonface;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  cursor: pointer;

  text-align: center;
}
