.pad {
  width: 40px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.closed {
  background-color: var(--neutral-700);
}

.open {
  background-color: var(--neutral-500);
}
