.mobileControls {
  width: 300px;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--neutral-700);
  border-radius: 15px;
  border: 2px solid var(--secondary);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.dpad {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dpadButton {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
  user-select: none;
}

.upperRow {
  display: flex;
  justify-content: center;
}

.middleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.lowerRow {
  display: flex;
  justify-content: center;
}
