:root {
  --background: #ffffff;
  --foreground: hsl(240, 33%, 8%);

  --primary: #ff296d; /* Main accents, buttons */
  --secondary: #00eaff; /* Highlights, links */
  --warning: hsl(54, 100%, 50%); /* Score pop, alerts */
  --neutral-900: #0e0e1b; /* Page background */
  --neutral-700: #222239; /* Cards, panels */
  --neutral-600: hsl(240, 25%, 28%);
  --neutral-500: #494979;
  --neutral-200: #d1d1e0;
  --neutral-dusty-gray: hsl(240, 10%, 62%);
  --dark-dusty-gray: #606076;
  --glow-purple: hsl(254, 100%, 58%); /* Soft outer glow */

  --primary-linear-gradient: linear-gradient(
    to left,
    hsl(341, 100%, 16%) 0%,
    hsl(341, 100%, 38%) 8%,
    hsl(341, 100%, 32%) 92%,
    hsl(341, 100%, 16%) 100%
  );

  --secondary-linear-gradient: linear-gradient(
    to left,
    hsl(240, 20%, 45%) 0%,
    hsl(240, 20%, 65%) 8%,
    hsl(240, 20%, 63%) 92%,
    hsl(240, 20%, 45%) 100%
  );

  --neutral-dusty-gray-gradient: linear-gradient(
    to left,
    hsl(240, 10%, 20%) 0%,
    hsl(240, 10%, 42%) 8%,
    hsl(240, 10%, 45%) 92%,
    hsl(240, 10%, 20%) 100%
  );

  --header-height: 180px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(240, 33%, 8%);
    --foreground: #ededed;
  }
}

html,
body {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-vt323), sans-serif;
  font-size: 1.5rem;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1,
h2 {
  text-align: center;
}
