.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.belowSlot {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (max-width: 525px) {
  .belowSlot {
    gap: 20px;
    min-block-size: 150px;
  }
}
