.header {
  position: sticky;
  top: 0;
  padding-top: 1rem;
  z-index: 1;
  background-color: var(--neutral-900);
}

.title {
  font-family: var(--font-monoton), sans-serif;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 2px;
  color: var(--primary);
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  position: sticky;
  bottom: 0;
  padding-block: 1rem;
  text-align: center;
  z-index: 1;
  background-color: var(--neutral-900);
}

.footerLink {
  color: var(--neutral-500);
  font-size: 1.3rem;
  text-decoration: none;
}

.footerLink:hover {
  color: var(--dark-dusty-gray);
}
