.header {
  position: sticky;
  height: var(--header-height);
}

.title {
  font-family: var(--font-monoton), sans-serif;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 2px;
  color: var(--primary);
}

.main {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
