.header {
  position: sticky;
  top: 0;
  padding-top: 1rem;
  z-index: 1;
  background: var(--header-gradient);
  border-bottom: 2px solid var(--primary-overlay);
  box-shadow: 0 6px 0 var(--secondary-overlay) inset,
    0 12px 24px var(--secondary-overlay);
}

.title {
  font-family: var(--font-monoton), sans-serif;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 2px;
  color: var(--primary);
}

.main {
  margin-block: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  position: sticky;
  bottom: 0;
  padding-block: 1rem;
  text-align: center;
  z-index: 1;
  background: var(--footer-gradient);
  border-top: 2px solid var(--primary-overlay);
  box-shadow: 0 -6px 0 var(--secondary-overlay) inset,
    0 -12px 24px var(--secondary-overlay);
}

.footerLink {
  color: var(--neutral-dusty-gray);
  font-size: 1.3rem;
  text-decoration: none;
}

.footerLink:hover {
  color: var(--dark-dusty-gray);
}

.errorTitle {
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  color: var(--secondary);
}

.errorMessage {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

@media (max-width: 525px) {
  .title {
    font-size: 3rem;
  }
}
