.container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.gameOption {
  max-width: 140px;
  width: 100%;
  min-width: 150px;
  text-align: center;
  font-size: 1.5rem;
}

.imageContainer {
  position: relative;
  width: 140px;
  height: 190px;
}

@media (min-width: 2560px) {
  .container {
    gap: 70px;
  }

  .gameOption {
    max-width: 240px;
    width: 100%;
    min-width: 250px;
  }

  .imageContainer {
    width: 240px;
    height: 330px;
  }
}
