.cardsRowContainer {
  width: 400px;
}

.cardsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 2560px) {
  .cardsRowContainer {
    width: 520px;
  }

  .cardsRow {
    gap: 15px;
  }
}
