.navigation {
  display: flex;
  justify-content: space-between;
  padding-block: 5px;
  padding-inline: 20px;
}

.button {
  max-width: 100px;
}

.hidden {
  display: hidden;
}

.controlGroup {
  margin-left: auto;
}
